<style>
    .form-container {
        width: 75%;
        margin: 0 auto;
    }

    /* Larger than mobile screen */
    @media (min-width: 40.0rem) {
        .form-container {
            width: 50%;
            margin: 0 auto;
        }
    }

    .form-container h4.error {
        margin-bottom: 10px;
        color: #ff7075;
    }

    form input {
        text-align: center;
    }

    div.form-container div.break {
        margin: 15px 0;
        border-bottom: 1px solid #9b4dcb;
    }

    .errorlist {
        color: #ff7075;
        margin-top: 15px;
    }

</style>