<style>
        ul.navigation-pills {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        ul.navigation-pills > li {
            float: left;
            position: relative;
            display: block;
            box-sizing: inherit;
        }

        ul.navigation-pills > li > a {
            padding: 12px;
            text-decoration: none !important;
            border-radius: 4px;
        }

        ul.navigation-pills > li > a:focus, ul.navigation-pills > li > a:hover {
            text-decoration: none;
            background-color: #eee;
        }

        ul.navigation-pills > li.active > a, ul.navigation-pills > li.active > a:focus, ul.navigation-pills > li.active > a:hover {
            color: #fff;
            background-color: #337ab7;
        }
</style>