{% extends "base.html" %}

{% load static %}

{% block head_additional %}
    {% include "static_helpers/form.html" %}
{% endblock %}

{% block content %}
    <h2>Sign up to access the Gardeno Beta!</h2>
    <div class="form-container">
        {% if success %}
            <h3>Thanks for signing up! You will be notified when you are added to the beta.</h3>
        {% else %}
            {% if error %}
                <h4 class="error">Something went wrong</h4>
            {% endif %}
            <form method="post" action="/notify">
                {% csrf_token %}
                <input type="email" name="email" required placeholder="Enter your email address"/>
                <button type="submit">Get Notified</button>
            </form>
        {% endif %}
    </div>
{% endblock %}