{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block head_additional %}
    {% include "static_helpers/navigation-pills.html" %}
    <style>
        .content {
            padding-top: 0
        }

        div.grow-header {
            width: 100%;
            height: 50px;
            padding: 0 50px 65px;
            border-bottom: 1px solid #ceb3de;
        }

        div.grow-header h4 {
            line-height: 50px;
            float: left;
            font-size: 30px;
        }

        div.grow-header span.published-info {
            float: left;
            line-height: 50px;
            margin-left: 12px;
            font-size: 12px
        }

        div.grow-header form {
            float: right;
            margin: 0;
            padding-top: 6px;
        }

        div.grow-header form select {
            margin: 0;
            width: 140px;
        }

        div.grow-header form button {
            margin: 0;
        }

        div.subcontent {
            padding: 15px 50px;
        }

    </style>
    {% block subhead_additional %}{% endblock %}
{% endblock %}

{% block foot_additional %}

    <script src="{% static "vendor/reconnecting-websocket/reconnecting-websocket.min.js" %}"></script>
    <script src="{% static "vendor/toastr/toastr.min.js" %}"></script>

    <script>

        toastr.options.closeButton = true;

        var socket = new ReconnectingWebSocket((window.location.protocol === 'https:' ? 'wss://' : 'ws://') + window.location.host + '/ws/grows/{{ grow.identifier  }}/', null, {
            debug: true,
            reconnectInterval: 3000
        });

        socket.onopen = function open() {
            console.log('WebSockets connection created.');
            //socket.send('{}')
        };

        socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            if (data.type === 'sensor_update') {
                if (data.data.event === 'setup_download') {
                    toastr["info"]("Sensor '" + data.data.sensor.name + "' has downloaded setup file.");
                } else if (data.data.event === 'setup_finished') {
                    toastr["success"]("Sensor '" + data.data.sensor.name + "' has finished being setup!");
                } else {
                    console.warn('Unknown sensor update: ', data);
                }
                /*
                 var coreStatusContainer = document.getElementById('core-status-container');
                 if (data.update === 'setup_started') {
                 coreStatusContainer.innerHTML = '<h4>Setup has started...</h4>';
                 } else if (data.update === 'setup_finished') {
                 coreStatusContainer.innerHTML = '<h4>Core has been successfully setup!</h4>';
                 }
                 */
            } else {
                console.warn('Unknown message type: ', data)
            }
        };

        if (socket.readyState == WebSocket.OPEN) {
            socket.onopen();
        }

    </script>

    {% block subfoot_additional %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="grow-header">
        <h4>
            <a href="/grows/{{ grow.identifier }}/">{{ grow.title }}</a>
        </h4>
        {% if grow.date_published %}
            <span class="published-info">Published {{ grow.date_published|naturaltime }} </span>
        {% endif %}
        {% if grow.has_created_greengrass_group %}
            <form method="post" action="/grows/{{ grow.identifier }}/update/">
                {% csrf_token %}
                <select name="visibility">
                    {% for visibility_option in grow_visibility_options %}
                        <option value="{{ visibility_option }}"{% ifequal grow.visibility visibility_option %}
                                selected{% endifequal %}>{{ visibility_option }}</option>
                    {% endfor %}
                    </option>
                </select>
                <button name="save" type="submit">
                    Save Changes
                </button>
                {% if not grow.date_published %}
                    <button name="publish" type="submit">
                        Publish
                    </button>
                {% endif %}
            </form>
        {% endif %}
    </div>
    <div class="subcontent">
        {% block navigation %}
            <div class="navigation-container">
                <ul class="navigation-pills">
                    <li{% if not active_view %} class="active"{% endif %}>
                        <a href="/grows/{{ grow.identifier }}/">Dashboard</a>
                    </li>
                    <li{% ifequal active_view "sensors" %} class="active"{% endifequal %}>
                        <a href="/grows/{{ grow.identifier }}/sensors/">Sensors</a>
                    </li>
                </ul>
            </div>
        {% endblock %}
        {% block subcontent %}{% endblock %}
    </div>
{% endblock %}