{% extends "grows/detail/edit/base.html" %}

{% block subhead_additional %}
    {% include "static_helpers/form.html" %}
{% endblock %}

{% block navigation %}{% endblock %}

{% block subcontent %}
    <h2>You have not created a group for this grow.</h2>
    <div class="form-container">
        {% if error %}
            <h4 class="error">{{ error }}</h4>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit">Create Group</button>
        </form>
    </div>
{% endblock %}