{% extends "grows/detail/edit/base.html" %}

{% block subhead_additional %}
    {% include "static_helpers/form.html" %}
    <style>
        form label {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block subfoot_additional %}
    <script>
        (function () {
            document.getElementById('id_type').onchange = function () {
                var allHelpTextTags = document.getElementsByClassName('sensor-type-help');
                for (var i = 0; i < allHelpTextTags.length; i++) {
                    allHelpTextTags[i].style.display = 'none';
                }
                var helpTextToShow = document.querySelector("[data-sensor-type-help='" + this.value + "']");
                helpTextToShow.style.display = 'block';
            }
        })();
    </script>

{% endblock %}

{% block subcontent %}
    <h2>Step 1: Create a Core Sensor</h2>
    <div class="form-container">
        {% if error %}
            <h4 class="error">{{ error }}</h4>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit">Create Core</button>
        </form>
    </div>
{% endblock %}