{% extends "grows/detail/edit/base.html" %}

{% load humanize %}

{% block subhead_additional %}
    <style>
        ol.core-instructions {
            width: 600px;
            padding: 15px;
            margin: 0 auto;
            text-align: justify;
            background-color: white;
            border-radius: 8px;
            border: 1px solid #9b4dcb;
        }

        ol.core-instructions a {
            font-weight: bold;
        }

        ol.core-instructions a:focus, ol.core-instructions a:hover {
            color: #606c76;
        }
    </style>
{% endblock %}

{% block subfoot_additional %}
{% endblock %}

{% block subcontent %}
    <div>
        <h2>{{ sensor }}</h2>
    </div>
    <div id="core-status-container">
        <ol class="core-instructions">
            <li>Steps to connect your sensor:</li>
            <li>1.
                <a href="https://downloads.raspberrypi.org/raspbian/images/raspbian-2017-03-03/">
                    Download Raspian 2017-03-02
                </a>
            </li>
            <li>2.
                Insert the SD card into your computer and run
                <a href="https://github.com/davidferguson/pibakery/releases">
                    PiBakery 2.0
                </a>
            </li>
            <li>3.
                <a href="/grows/{{ grow.identifier }}/sensors/preferences/">
                    Edit your sensor preferences (WiFi, usernames/passwords, SSH key, etc)
                </a>
            </li>
            <li>4.
                <a href="/grows/{{ grow.identifier }}/sensors/{{ sensor.identifier }}/recipe/">Download your sensor's
                    PiBakery
                    recipe</a><br/>
                <small style="margin-left: 18px;">This recipe will expire in 24 hours</small>
            </li>
            <li>5. Open the recipe with PiBakery and flash your device</li>
            <li>6. Boot up your device and wait on this page for updates</li>
        </ol>
    </div>
    <div>
        <h2>Sensor updates:</h2>
    </div>
    <div>
        <h3{% if sensor.updates.count %} style="display: none"{% endif %}>Sensor has not connected to Gardeno yet</h3>
        <div class="sensor-updates">
            {% for update in sensor.updates.all %}
                <div>
                    {{ update.date_created|naturaltime }} : {{ update.update_object.data.event }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}