{% extends "grows/detail/edit/base.html" %}

{% load static %}

{% block subhead_additional %}

    <style>

        div.pick-sensor-type {
            width: 500px;
            margin: 0 auto;
        }

        div.pick-sensor-type ul li {
            height: 150px;
            width: 150px;
            border-radius: 8px;
            border: 1px solid #9b4dca;
            color: #9b4dca;
            position: relative;
            display: inline-block;
            margin: 0 5px;
            background: white;
        }

        div.pick-sensor-type ul li a, div.pick-sensor-type ul li span {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding-top: 40px;
        }

        div.inactive {
            opacity: 0.4;
        }

        ol.core-instructions {
            width: 600px;
            padding: 15px;
            margin: 0 auto;
            text-align: justify;
            background-color: white;
            border-radius: 8px;
            border: 1px solid #9b4dcb;
        }

        ol.core-instructions a {
            font-weight: bold;
        }

        ol.core-instructions a:focus, ol.core-instructions a:hover {
            color: #606c76;
        }

    </style>

{% endblock %}

{% block subfoot_additional %}


    <script src="{% static "js/vendor/reconnecting-websocket.js" %}"></script>
    <script>

        var socket = new ReconnectingWebSocket('ws://' + window.location.host + '/ws' + window.location.pathname, null, {
            debug: true,
            reconnectInterval: 3000
        });

        socket.onopen = function open() {
            console.log('WebSockets connection created.');
            //socket.send('{}')
        };

        socket.onmessage = function (event) {
            console.log('received event');
            var data = JSON.parse(event.data);
            if (data.type === 'sensor_core_update') {
                var coreStatusContainer = document.getElementById('core-status-container');
                if (data.update === 'setup_started') {
                    coreStatusContainer.innerHTML = '<h4>Setup has started...</h4>';
                } else if (data.update === 'setup_finished') {
                    coreStatusContainer.innerHTML = '<h4>Core has been successfully setup!</h4>';
                }
            }
        };

        if (socket.readyState == WebSocket.OPEN) {
            socket.onopen();
        }

    </script>

{% endblock %}


{% block subcontent %}
    <h2>Core Sensor</h2>
    {% if not grow.has_created_greengrass_core %}
        <h3>You need to create a core sensor before adding any other sensors.</h3>
        <form action="core/" method="post">
            {% csrf_token %}
            <button type="submit">Create Core Sensor</button>
        </form>
    {% else %}
        <div id="core-status-container">
            {% if not grow.aws_greengrass_core.has_been_setup %}
                <ol class="core-instructions">
                    <li>Steps to connect your core sensor:</li>
                    <li>1.
                        <a href="https://downloads.raspberrypi.org/raspbian/images/raspbian-2017-03-03/">
                            Download Raspian 2017-03-02
                        </a>
                    </li>
                    <li>2.
                        Insert the SD card into your computer and run
                        <a href="https://github.com/davidferguson/pibakery/releases">
                            PiBakery 2.0
                        </a>
                    </li>
                    <li>3.
                        <a href="/grows/{{ grow.identifier }}/sensors/preferences/">
                            Edit your sensor preferences (WiFi, usernames/passwords, SSH key, etc)
                        </a>
                    </li>
                    <li>4.
                        <a href="/grows/{{ grow.identifier }}/sensors/core/recipe/">Download your core's PiBakery
                            recipe</a><br/>
                        <small style="margin-left: 18px;">This recipe will expire in 24 hours</small>
                    </li>
                    <li>5. Open the recipe with PiBakery and flash your core device</li>
                    <li>6. Boot up your device and wait on this page for updates</li>
                </ol>
            {% else %}
                <h4>Core has been successfully setup!</h4>
            {% endif %}
        </div>
    {% endif %}
    <div{% if not grow.has_created_greengrass_core %} class="inactive"{% endif %}>
        <h2>Supporting Sensors</h2>
        {% if not grow.sensors.count %}
            <h3>None yet! Add a new sensor:</h3>
            <div class="pick-sensor-type">
                <ul>
                    {% for available_sensor_type in available_sensor_types %}
                        <li>
                            {% if not grow.has_created_greengrass_core %}
                                <span>
                                    <ion-icon size="large" name="{{ available_sensor_type.ionicon_name }}"></ion-icon>
                                    <br/>
                                    {{ available_sensor_type.value }}
                                </span>
                            {% else %}
                                <a href="/grows/{{ grow.identifier }}/sensors/create/?type={{ available_sensor_type.value }}">
                                    <ion-icon size="large" name="{{ available_sensor_type.ionicon_name }}"></ion-icon>
                                    <br/>
                                    {{ available_sensor_type.value }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% for sensor in grow.sensors.all %}
                <a href="/grows/{{ grow.identifier }}/sensors/{{ sensor.identifier }}/">{{ sensor }}</a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}