{% extends "base.html" %}

{% load static %}

{% block head_additional %}
    <style>
        .content {
            padding-top: 0
        }

        div.grow-header {
            width: 100%;
            height: 50px;
            padding: 0 50px;
        }

        div.grow-header h4 {
            line-height: 50px;
            float: left;
        }

        div.grow-header form {
            float: right;
            width: 600px;
            margin: 0;
            padding-top: 6px;
        }

        div.grow-header form select {
            margin: 0;
            width: 40px;
        }

        div.grow-header form button {
            margin: 0;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="grow-header">
        <h4>{{ grow.title }}</h4>
        <form>
            <select>
                <option value="Public">Public</option>
                <option value="Private">Private</option>
                <option value="Unlisted">Unlisted</option>
            </select>
            <button>
                Save Changes
            </button>
            <button>
                Publish
            </button>
        </form>
    </div>
    <h1>Edit</h1>
{% endblock %}