{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Gardeno - Hyperlocal salads and produce, delivered</title>
    <meta name="description"
          content="Gardeno is a local grower of fresh microgreens that make the most nutritious, delicious, and affordable salads in your area.">
    <meta name="keywords" content="gardeno, salad delivery, food delivery, healthy food delivery, fresh microgreens">
    <meta name="author" content="Gardeno Foundation">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="google-site-verification" content="-5JUMmOr9PgzugD5_xPlhbuiO7QjKMGpczaax6HibSE"/>

    <meta property="og:url" content="https://gardeno.global/"/>
    <meta property="og:title" content="Gardeno Foundation"/>
    <meta property="og:description"
          content="Gardeno is a local grower of fresh microgreens that make the most nutritious, delicious, and affordable salads in your area."/>

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', '{{ google_analytics_id }}');
    </script>

    <style>
        body, html {
            margin: 0;
            padding: 0;
        }
    </style>

    {% block head_additional %}{% endblock %}

</head>
<body>

{% block content %}{% endblock %}

{% block foot_additional %}{% endblock %}

</body>
</html>