{% extends "base.html" %}

{% load static %}

{% block head_additional %}
    <style>
        .break {
            border-bottom: 1px solid #57B6B2;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block content %}

        <h2>Hyperlocal salads and produce, delivered.</h2>
        <div class="break"></div>
        <h2>Design coming soon!</h2>
        <a href="https://99designs.com/brand-identity-pack/contests/gardeno-design-logo-hyper-local-salad-vegetable-delivery-826592">https://99designs.com/brand-identity-pack/contests/gardeno-design-logo-hyper-local-salad-vegetable-delivery-826592</a>

{% endblock %}