asn1crypto==0.24.0
boto3==1.7.58
botocore==1.10.58
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
Django==2.0.4
django-countries==5.3.1
docutils==0.14
ecdsa==0.13
idna==2.7
jmespath==0.9.3
natsort==5.2.0
Pillow==5.1.0
psycopg2==2.7.5
pycparser==2.18
python-dateutil==2.7.3
python-dotenv==0.8.2
pytz==2018.4
raven==6.9.0
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
sshpubkeys==3.1.0
urllib3==1.23
uWSGI==2.0.17.1
